### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [5]:
# Dependencies and Setup
import pandas as pd
import csv
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_df = pd.read_csv(school_data_to_load)
student_df = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [113]:
#print(student_df)
school_count = school_df["school_name"].count()
student_count = school_df["size"].sum()
budget = school_df["budget"].sum()
avg_math = student_df["math_score"].mean()
avg_reading = student_df["reading_score"].mean()
overall_pass_rate = ((avg_math + avg_reading)/2)
math_pass_count = student_df.loc[student_df['math_score'] >= 70]['math_score'].count()
math_pass_percent = (math_pass_count/student_count) * 100
reading_pass_count = student_df.loc[student_df['reading_score'] >= 70]['reading_score'].count()
reading_pass_percent = (reading_pass_count/student_count) * 100

summary = pd.DataFrame({
    
    "Total Schools": [school_count],
    "Total Students": [student_count],
    "Total Budget": [budget],
    "Average Math Score": [avg_math],
    "Average Reading Score": [avg_reading],
    "% Passing Math": [math_pass_percent],
    "% Passing Reading":[reading_pass_percent],
    "Overall Passing Rate": [overall_pass_rate]})

summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.431606

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [124]:
school_type = school_df.set_index(["school_name"])["type"]
#school_type

total_students_in_school = school_data_complete["school_name"].value_counts()
#total_students_in_school

schools_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
#schools_budget

school_summary = pd.DataFrame({"School Type": [school_type],
                                   "Total Students": [school_students],
                                   "Total School Budget": [schools_budget],
                                   #"Per Student Budget": [budget_per_capita],
                               
                              })
school_summary

,School Type,Total Students,Total School Budget
0,school_name Huang High School District ...,Bailey High School 4976 Johnson High Sch...,school_name Bailey High School 3124928.0...

In [142]:
school_type = school_df.set_index(["school_name"])["type"]
#print(school_type)
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_students = school_data_complete["school_name"].value_counts()
#print(school_students)
school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
budget_per_capita = school_budget/school_students
#budget_per_capita

school_math_avg = school_data_complete.groupby(["school_name"]).mean()["math_score"]
school_reading_avg = school_data_complete.groupby(["school_name"]).mean()["reading_score"]

school_math_pass = school_data_complete[(school_data_complete["math_score"] >= 70)]
school_math_pass_capita = school_math_pass.groupby(["school_name"]).count()["student_name"] / school_students * 100

school_reading_pass = school_data_complete[(school_data_complete["reading_score"] >= 70)]
school_reading_pass_capita = school_reading_pass.groupby(["school_name"]).count()["student_name"] / school_students * 100

overall_school_pass_rate = ((school_math_pass_capita + school_reading_pass_capita) / 2)

school_summary = pd.DataFrame({"School Type": [school_type],
                                   "Total Students": [school_students],
                                   "Total School Budget": [school_budget],
                                   "Per Student Budget": [budget_per_capita],
                                   "Average Math Score": [school_math_pass],
                                   "Average Reading Score": [school_reading_pass],
                                   "% Passing Math": [school_math_pass_capita],
                                   "% Passing Reading": [school_reading_pass_capita],
                                   "% Overall Passing Rate": [overall_school_pass_rate]})




school_summary

#I dont know what went wrong here but I went line by line and tried to fix it in the next section

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,school_name Huang High School District ...,Bailey High School 4976 Johnson High Sch...,school_name Bailey High School 3124928.0...,Bailey High School 628.0 Cabrera High Sc...,Student ID student_name gender grad...,Student ID student_name gender grad...,Bailey High School 66.680064 Cabrera Hig...,Bailey High School 81.933280 Cabrera Hig...,Bailey High School 74.306672 Cabrera Hig...

In [144]:
school_type = school_data.set_index(["school_name"])["type"]
#school_type

schools_students = school_data_complete["school_name"].value_counts()
#schools_students


school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
school_budget_per_capita = school_budget / schools_students

school_math = school_data_complete.groupby(["school_name"]).mean()["math_score"]
school_math_pass = school_data_complete[(school_data_complete["math_score"] >= 70)]
percent_school_passing_math = school_math_pass.groupby(["school_name"]).count()["student_name"] / schools_students * 100

school_reading = school_data_complete.groupby(["school_name"]).mean()["reading_score"]
school_reading_pass = school_data_complete[(school_data_complete["reading_score"] >= 70)]
percent_school_passing_reading = school_reading_pass.groupby(["school_name"]).count()["student_name"] / schools_students * 100

overall_school_pass_rate = (per_school_passing_math + per_school_passing_reading) / 2

school_summary = pd.DataFrame({"School Type": school_type,
                                   "Total Students": schools_students,
                                   "Total School Budget": school_budget,
                                   "Per Student Budget": school_budget_per_capita,
                                   "Average Math Score": per_school_math,
                                   "Average Reading Score": per_school_reading,
                                   "% Passing Math": percent_school_passing_math,
                                   "% Passing Reading": percent_school_passing_reading,
                                   "% Overall Passing Rate": overall_school_pass_rate})

school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,94.972222

In [146]:
#Top 5 Schools By Pass Rate
top_five = school_summary.sort_values(["% Overall Passing Rate"], ascending=False)
top_five.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,95.203679

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [147]:
bottom_five = school_summary.sort_values(["% Overall Passing Rate"], ascending=True)
bottom_five.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [153]:
#pull the grades into groups from dataset
nineth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

avg_math_scores_grade = round(school_data_complete.groupby(["grade"]).mean()["math_score"],2)
#avg_math_scores_grade

avg_reading_score_grade = round(school_data_complete.groupby(["grade"]).mean()["reading_score"],2)
print (avg_reading_score_grade)
print (avg_math_scores_grade)

grade
10th    81.87
11th    81.89
12th    81.82
9th     81.91
Name: reading_score, dtype: float64
grade
10th    78.94
11th    79.08
12th    78.99
9th     78.94
Name: math_score, dtype: float64

In [155]:
niner_score = nineth_graders.groupby(["school_name"]).mean()["reading_score"]
soph_score = tenth_graders.groupby(["school_name"]).mean()["reading_score"]
jun_score = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]
sen_score = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]

math_niner_score = nineth_graders.groupby(["school_name"]).mean()["math_score"]
math_soph_score = tenth_graders.groupby(["school_name"]).mean()["math_score"]
math_jun_score = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
math_sen_score = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

In [157]:
scores_grades = pd.DataFrame({
    "9th Grade Math": math_niner_score,
    "10th Grade Math": math_soph_score,
    "11th Grade Math": math_jun_score,
    "12th Grade Math": math_sen_score,
    "9th Grade Reading": niner_score,
    "10th Grade Reading": soph_score,
    "11th Grade Reading": jun_score,
    "12th Grade Reading": sen_score,
})

scores_grades

,9th Grade Math,10th Grade Math,11th Grade Math,12th Grade Math,9th Grade Reading,10th Grade Reading,11th Grade Reading,12th Grade Reading
school_name,,,,,,,,
Bailey High School,77.083676,76.996772,77.515588,76.492218,81.303155,80.907183,80.945643,80.912451
Cabrera High School,83.094697,83.154506,82.765560,83.277487,83.676136,84.253219,83.788382,84.287958
Figueroa High School,76.403037,76.539974,76.884344,77.151369,81.198598,81.408912,80.640339,81.384863
Ford High School,77.361345,77.672316,76.918058,76.179963,80.632653,81.262712,80.403642,80.662338
Griffin High School,82.044010,84.229064,83.842105,83.356164,83.369193,83.706897,84.288089,84.013699
Hernandez High School,77.438495,77.337408,77.136029,77.186567,80.866860,80.660147,81.396140,80.857143
Holden High School,83.787402,83.429825,85.000000,82.855422,83.677165,83.324561,83.815534,84.698795
Huang High School,77.027251,75.908735,76.446602,77.225641,81.290284,81.512386,81.417476,80.305983
Johnson High School,77.187857,76.691117,77.491653,76.863248,81.260714,80.773431,80.616027,81.227564
Pena High School,83.625455,83.372000,84.328125,84.121547,83.807273,83.612000,84.335938,84.591160
Rodriguez High School,76.859966,76.612500,76.395626,77.690748,80.993127,80.629808,80.864811,80.376426
Shelton High School,83.420755,82.917411,83.383495,83.778976,84.122642,83.441964,84.373786,82.781671
Thomas High School,83.590022,83.087886,83.498795,83.497041,83.728850,84.254157,83.585542,83.831361
Wilson High School,83.085578,83.724422,83.195326,83.035794,83.939778,84.021452,83.764608,84.317673
Wright High School,83.264706,84.010288,83.836782,83.644986,83.833333,83.812757,84.156322,84.073171

## Reading Score by Grade

* Perform the same operations as above for reading scores

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [162]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,95.035486
$585-615,83.599686,83.885211,94.230858,95.900287,95.065572
$615-645,79.079225,81.891436,75.668212,86.106569,80.887391
$645-675,76.997210,81.027843,66.164813,81.133951,73.649382

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,94.824831
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,95.195187
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,76.364998

## Scores by School Type

* Perform the same operations as above, based on school type.

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,95.103660
District,76.956733,80.966636,66.548453,80.799062,73.673757